/* typography grid: 32px offset 0 */

$colorBoldcodeBlack: '#241c1c';
$colorBlack: #101010;
$colorGreyDark: #333;
$colorMuted2: #ccc;
$colorMuted: #777;
$colorWhite: #fefefe;
$colorYellow: #ff9a18;
$colorBlue: #009fcb;
$colorGreen: #00A076;

$fontDroid: '"Droid Serif", "Helvetica Neue", Helvetica,Arial,sans-serif';
$fontMontserrat: 'Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif';
$fontRoboto: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;

/* Define primary & secondary values */
$colorPrimary: $colorBlue;
$colorSecondaryDark: $colorGreyDark;
$colorSecondary: #47ECC1;

$fontPrimary: $fontRoboto;
$fontSecondary: $fontDroid;

