---
# Front matter comment to ensure Jekyll properly reads file.
---

@import "config/fonts.scss";
@import "config/constants.scss";

// external
@import "ext/font-awesome5/css/all.css";
@import "ext/font-awesome5/css/v4-shims.css";
/*
	@import "ext/font-awesome5/css/solid.css";
	@import "ext/font-awesome5/css/regular.css";
	@import "ext/font-awesome5/css/brands.css";
	@import "ext/font-awesome5/css/fontawesome.css";
*/
@import "ext/bootstrap3.min.css";

@import "base.scss";
@import "blocks/features.scss";
@import "blocks/contact.scss";
@import "blocks/team.scss";
@import "blocks/cards.scss";
@import "footer.scss";

@media(min-width:768px) {
	@import "base_768p.scss";
	@import "blocks/features_768p.scss";
	@import "blocks/contact_768p.scss";
	@import "blocks/team_768p.scss";
	@import "blocks/cards_768p.scss";
}


.service-heading {
    margin: 15px 0;
    text-transform: none;
}

#product_cards {
	background-color:  $colorPrimary ;
}

#product_cards .section-subheading {
	color: white;
}

#product_cards .portfolio-item {
    right: 0;
    margin: 0 0 50px;
}

#product_cards .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

#product_cards .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba( $colorYellow, 0.9 ); 
}

#product_cards .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

#product_cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

#product_cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

#product_cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
#product_cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

#product_cards .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    height: 181px;
    text-align: center;
    background-color: #fff;
}

#product_cards .portfolio-item .portfolio-caption h4 {
    margin: 0 0 15px 0;
    text-transform: none;
}

#product_cards .portfolio-item .portfolio-caption p {
    margin: 0;
    font-family:  $fontSecondary ;
    font-size: 16px;
    font-style: italic;
    line-height: 1.5;
}

#product_cards * {
    z-index: 4;
}

@media(min-width:768px) {
    #product_cards .portfolio-item {
        margin: 0 0 30px;
    }
}

.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 7px solid #fff;
}

.team-member h4 {
    margin-top: 25px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
    height: 3em;
    margin-top: 15px;
    /* border-top: 1px solid black; */
    margin-bottom: 25px;
}

aside.clients img {
    margin: 50px auto;
}



section#about #sensibilisation {
  	margin-top: 75px;
}


.portfolioModal4 .modal-body .titres {
  	font-size: 16px;
  	font-weight: 600;
  	margin: 0px;
}

.portfolioModal4 .modal-body .descriptions {
  	margin: 0px 0px 25px 0px;
}




ul.social-buttons {
    margin-bottom: 0;
}

ul.social-buttons li a {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    font-size: 20px;
    line-height: 40px;
    outline: 0;
    color: #fff;
    background-color: #222;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
}


ul.social-buttons li.social-blog a {
    width: 10em;
    border-radius: 20px;
    padding: 0 10px;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
    background-color:  $colorPrimary ;
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: 0;
}

.contact-link {
  	text-transform: uppercase;
  	font-family:  $fontPrimary ;
  	font-size: 15px;
  	font-weight: 400;
  	letter-spacing: 1px;
  	color: #444;
  	-webkit-transition: all ease .35s;
  	-moz-transition: all ease .35s;
  	transition: all ease .35s;
}

.portfolio-modal .modal-content {
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: center;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .modal-content h2 {
    margin-bottom: 15px;
    font-size: 3em;
}

.portfolio-modal .modal-content p {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content p.item-intro {
    margin: 20px 0 30px;
    font-family:  $fontSecondary ;
    font-size: 16px;
    font-style: italic;
}

.portfolio-modal .modal-content ul.list-inline {
    margin-top: 0;
    margin-bottom: 30px;
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    background-color: #222;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 75px;
    background-color: #222;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-body p {
  	font-size: 15px;
  	text-align: justify;
}

.portfolio-modal .modal-body ul {
  	font-size: 15px;
  	text-align: justify;
}

.portfolio-modal .modal-body p .development {
  	color:  $colorPrimary ;
}

@media(min-width:768px) {

  	.portfolio-modal .modal-body p {
    	font-size: 23px;
    	text-align: justify;
  	}

}

::-moz-selection {
    text-shadow: none;
    background:  $colorPrimary ;
}

::selection {
    text-shadow: none;
    background:  $colorPrimary ;
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color:  $colorPrimary ;
}

