<section id="{{ block_data.id }}" class="bc-block bc-block-contact">
    <div class="container">
        <div class="row">
            <div class="bc-block-heading col-lg-12">
                <h2 class="bc-block-title">{{ block_data.title }}</h2>
                <h3 class="bc-block-subtitle">{{ block_data.subtitle }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
            	{{ block_data.address }}
				{% for phone in block_data.phones %} 
				<p class="phone-block">
				<i class="fa fa-phone"></i>
				<span class="title">{{ phone.title }}</span>
				<span class="phone">{{ phone.number }}</span>
				</p>	
				{% endfor %}
            </div>
            <div class="col-md-8 col-sm-12">
            	<form name="sentMessage" id="contactForm" novalidate>
            		<div class="row">
            			<div class="control-group form-group col-md-6">
            				<input type="text" class="form-control" placeholder="Votre nom *" id="name" required data-validation-required-message="Entrer votre nom svp.">
            				<p class="help-block text-danger"></p>
            			</div>
            			<div class="control-group form-group col-md-6 ">
            				<input class="form-control" placeholder="Votre entreprise *" id="entreprise" required data-validation-required-message="Entrer le nom de votre entreprise svp."></textarea>
            			<p class="help-block text-danger"></p>
            			</div>
            			<div class="control-group form-group col-md-6">
            				<input type="email" class="form-control" placeholder="Votre email *" id="email" name="email" required data-validation-required-message="Entrer votre adresse email svp.">
            				<p class="help-block text-danger"></p>
            			</div>
            			<div class="control-group form-group col-md-6">
            				<input type="tel" class="form-control" placeholder="Votre n° de téléphone *" id="phone" required data-validation-required-message="Entrer votre numéro de téléphone svp.">
            				<p class="help-block text-danger"></p>
            			</div>
            		</div>
            		<div class="row">
            			<div class="col-md-12 col-lg-12">
            				<div class="control-group form-group">
            					<textarea class="form-control" placeholder="Votre message *" id="message" name="message" required data-validation-required-message="Entrer votre message svp."></textarea>
            					<p class="help-block text-danger"></p>
            				</div>
            			</div>
            			<div class="col-lg-12">
            				<p class="about-data">{{ block_data.consent }}</p>
            			</div>
            		</div>
            	</form>
            </div>
        </div>
        <div class="row">
            <div class="col-md-push-4 col-md-4">
                <div id="success"></div>
                <button type="submit" class="btn btn-xl btn-block">Envoyer le message</button>
            </div>
        </div>
    </div>
</section>
