<!-- Team Section -->
<section id="{{ block_data.id }}" class="bc-block bc-block-partners">
    <div class="container">
        <div class="row">
            <div class="bc-block-heading col-lg-12">
                <h2 class="bc-block-title">{{ block_data.title }}</h2>
                <h3 class="bc-block-subtitle">{{ block_data.subtitle }}</h3>
            </div>
        </div>
        <div class="row">
            {% for item in block_data.items %}
            	{% if item.picture_wide %} 
            	{% assign classes = "col-xs-12 col-sm-8 col-md-4" %}
            	{% else %}
            	{% assign classes = "col-xs-6 col-sm-4 col-md-2" %}
            	{% endif %}
            	<div class="partner-item {{ classes }}">
            	<a href="{{ item.url }}">
            		<img src="img/partners/{{ item.picture }}" title="{{item.title}}" alt="{{ item.title }}" />
            	</a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
