<!-- Team Section -->
<section id="{{ block_data.id }}" class="bc-block bc-block-values">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading block-heading">{{ block_data.title }}</h2>
                <h3 class="section-subheading block-subheading">{{ block_data.subtitle }}</h3>
            </div>
        </div>
        <div class="row">
            {% for item in block_data.items %}
            <div class="col-xs-12 col-sm-12 col-md-6">
            	{{ item.description | markdownify }}
            </div>
            {% endfor %}
        </div>
    </div>
</section>
