
@mixin animation-blink {
  	-webkit-animation: 1.5s blink step-end infinite;
  	-moz-animation: 1.5s blink step-end infinite;
  	-ms-animation: 1.5s blink step-end infinite;
  	-o-animation: 1.5s blink step-end infinite;
  	animation: 1.5s blink step-end infinite;

	@keyframes "blink" {
  		from, to {
  			opacity: 0;
  		}
  		50% {
  			opacity: 1;
  		}
	}

	@-moz-keyframes blink {
  		from, to {
  			opacity: 0;
  		}
  		50% {
  			opacity: 1;
  		}
	}

	@-webkit-keyframes "blink" {
  		from, to {
  			opacity: 0;
  		}
  		50% {
  			opacity: 1;
  		}
	}

	@-ms-keyframes "blink" {
  		from, to {
  			opacity: 0;
  		}
  		50% {
  			opacity: 1;
  		}
	}

	@-o-keyframes "blink" {
  		from, to {
  			opacity: 0;
  		}
  		50% {
  			opacity: 1;
  		}
	}

}
