
@import "../config/constants.scss";

.bc-block-cards {
	background-color:  $colorBlue;

	h4 {
		font-size: $fontSizeBig;
		text-align: center;
	}
	* {
    	z-index: 4;
	}

	.section-heading {
		color: $colorWhite;
	}

	.section-subheading {
		color: $colorWhite;
	}

	.portfolio-item {
    	right: 0;
    	margin: 0 0 50px;
	}

	.portfolio-item img {
		border-top-left-radius: 0.5rem;
    	border-top-right-radius: 0.5rem;
	}

	.portfolio-item .portfolio-link {
    	display: block;
    	position: relative;
    	margin: 0 auto;
    	max-width: 400px;
	}

	.portfolio-item .portfolio-link .portfolio-hover {
    	position: absolute;
    	width: 100%;
    	height: 100%;
    	opacity: 0;
    	-webkit-transition: all ease .5s;
    	-moz-transition: all ease .5s;
    	transition: all ease .5s;
    	background: rgba( $colorPrimary, .9);
	}

	.portfolio-item .portfolio-link .portfolio-hover:hover {
    	opacity: 1;
	}

	.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
		@include typography-normal;

    	position: absolute;
    	top: 50%;
    	width: 100%;
    	height: 20px;
    	margin-top: -12px;
    	text-align: center;
    	color: #fff;
	}

	.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    	margin-top: -12px;
	}

	.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
	.portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    	margin: 0;
	}

	.portfolio-item .portfolio-caption {
    	margin: 0 auto;
    	padding: 25px;
    	max-width: 400px;
    	height: 181px;
    	text-align: left;
    	background-color: #fff;
    	border-bottom-left-radius: 0.5rem;
    	border-bottom-right-radius: 0.5rem;
	}

	.portfolio-item .portfolio-caption h4 {
    	margin: 0 0 15px 0;
    	text-transform: none;
	}

	.portfolio-item .portfolio-caption p {
		@include typography-normal;

    	margin: 0;
    	font-family:  $fontSecondary ;
    	font-style: italic;
	}

}
