
@import "../config/constants.scss";

.bc-block-cards {
	background-color:  $colorBlue;
}

.bc-block-cards .section-subheading {
	color: white;
}

.bc-block-cards .portfolio-item {
    right: 0;
    margin: 0 0 50px;
}

.bc-block-cards .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
    max-width: 400px;
}

.bc-block-cards .portfolio-item .portfolio-link .portfolio-hover {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
    background: rgba( $colorPrimary, .9);
}

.bc-block-cards .portfolio-item .portfolio-link .portfolio-hover:hover {
    opacity: 1;
}

.bc-block-cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content {
	@include typography-normal;

    position: absolute;
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}

.bc-block-cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content i {
    margin-top: -12px;
}

.bc-block-cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h3,
.bc-block-cards .portfolio-item .portfolio-link .portfolio-hover .portfolio-hover-content h4 {
    margin: 0;
}

.bc-block-cards .portfolio-item .portfolio-caption {
    margin: 0 auto;
    padding: 25px;
    max-width: 400px;
    height: 181px;
    text-align: center;
    background-color: #fff;
}

.bc-block-cards .portfolio-item .portfolio-caption h4 {
    margin: 0 0 15px 0;
    text-transform: none;
}

.bc-block-cards .portfolio-item .portfolio-caption p {
	@include typography-normal;

    margin: 0;
    font-family:  $fontSecondary ;
    font-style: italic;
}

.bc-block-cards * {
    z-index: 4;
}
