
.bc-block-contact {
    background-image: url('/img/contact/background.jpg');
    background-color: #222;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	.section-heading {
		color: #fff;
	}

	.form-group {
		margin-bottom: 25px;
	}

	.form-group input,
	.form-group textarea {
		padding: 20px;
		color:  $colorPrimary ;
		}

	.form-group input.form-control {
		height: auto;
	}

	.form-group textarea.form-control {
		height: 157px;
	}

	.form-control:focus {
		border-color:  $colorPrimary ;
		box-shadow: none;
	}

	&::-webkit-input-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
	color: #bbb;
	}

	&:-moz-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
		color: #bbb;
	}

	&::-moz-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
		color: #bbb;
	}

	&:-ms-input-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
		color: #bbb;
	}

	.text-danger {
		color: #e74c3c;
	}

	p {
		color: #888;
	}

	#mentions {
		font-size: 18px;
		margin-bottom: 15px;
	}

}
