
.bc-block-contact {
    background-image: url('/img/contact/background.jpg');
    background-color: $colorBlack;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

	h3 {
		color: $colorYellow;
	}

	h4 {
		color: $colorWhite;
	}

	p {
		color: $colorWhite;
	}

	.section-heading {
		color: $colorWhite;
	}

	.form-group {
		margin-bottom: 25px;
	}

	.form-group input,
	.form-group textarea {
		padding: 20px;
		color:  $colorPrimary ;
	}

	.form-group input.form-control {
		height: auto;
	}

	.form-group textarea.form-control {
		height: 157px;
	}

	.form-control:focus {
		border-color:  $colorPrimary ;
		box-shadow: none;
	}

	&::-webkit-input-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
	color: #bbb;
	}

	&:-moz-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
		color: #bbb;
	}

	&::-moz-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
		color: #bbb;
	}

	&:-ms-input-placeholder {
    	text-transform: uppercase;
    	font-family:  $fontPrimary ;
    	font-weight: 700;
		color: #bbb;
	}

	.text-danger {
		color: #e74c3c;
	}

	.phone-block {
		color: white;
		font-weight: bold;
		clear: both;

		.fa-phone {
			margin-top: 0.5rem;
			color: $colorYellow;
			float: left;
			font-size: $fontSizeHuge;
			margin-right: 10px;
			-moz-transform: scaleX(-1);
        	-o-transform: scaleX(-1);
        	-webkit-transform: scaleX(-1);
        	transform: scaleX(-1);
        	filter: FlipH;
        	-ms-filter: "FlipH";
		}
		.title {
			font-weight: bold;
			text-transform: uppercase;
			line-height: 1.25;
			display: block;
		}
		.phone {
			color: $colorYellow;
			line-height: 1.25;
			display: block;
			font-size: $fontSizeBig;
		}
	}
	.about-data {
		color: white;
		font-weight: bold;

	}
}

