
@import "../config/constants.scss";

.bc-block-features {
	.block-heading { }
	.block-subheading { }

	.item-heading {
		@include typography-big;
		margin-top: 2.6rem;
	}
	.item-description { 
		@include typography-normal;
		text-align: left;
		font-family: $fontSecondary;
		margin-bottom: 4rem;
	}
}
