/* typography grid: 32px offset 0 */

$colorBlack: #101010;
$colorBlue: #009fcb;
$colorBoldcodeBlack: '#241c1c';
$colorGreen: #00A076;
$colorGreyDark: #333;
$colorWhite: #fefefe;
$colorYellow: #ff9a18;

$fontFira: 'Fira Mono', monospace;
$fontOpenSans: 'Open Sans', sans-serif;
// $fontDroid: '"Droid Sans", "Helvetica Neue", Helvetica,Arial,sans-serif';
// $fontMontserrat: 'Montserrat, "Helvetica Neue",Helvetica,Arial,sans-serif';
// $fontRoboto: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
// $fontLato: "Lato",Helvetica,Arial,sans-serif;

$sizeFactor: 1.618033988749895; // phi
// $sizeFactor: 1.4142135623730951; // sqrt(2) 

$fontSizeNormal: 1.5rem;
$fontSizeTitle: $fontSizeNormal * ($sizeFactor * $sizeFactor * $sizeFactor);
$fontSizeHuge: $fontSizeNormal * ($sizeFactor * $sizeFactor );
$fontSizeBig: $fontSizeNormal * $sizeFactor;
$fontSizeSmall: $fontSizeNormal / $sizeFactor;

/* Define primary & secondary values */
$colorPrimary: $colorBlue;
$colorSecondaryDark: $colorBoldcodeBlack;
$colorSecondary: $colorYellow;

$fontPrimary: $fontFira;
$fontSecondary: $fontOpenSans;

