<!DOCTYPE html>
<html>
  	{% include html_head.html %}
    <body id="page-top" class="index">
    	{% include header.html %}
    	{% for block in site.data.homepage %}
    		{% case block.layout %}
    			{% when 'cards' %}{% include homepage_cards.html %}
    			{% when 'features' %}{% include homepage_features.html %}
    			{% when 'people' %}{% include homepage_people.html %}
    			{% else %}
    				Unknown type {{ block.layout }}
    		{% endcase %}
    	{% endfor %}

    	{% comment %}
    		{% include product_cards.html %}
		{% endcomment %}

    	{% include footer.html %}
    	{% include modals.html %}
    	{% include js.html %}
    </body>
</html>
