<!DOCTYPE html>
<html>
  	{% include html_head.html %}
    <body id="page-top" class="index">
    	{% include header.html %}
    	{% for block in site.data.homepage %}
    		{% assign block_data = site.data[block.id] %}
    		{% case block.layout %}
    			{% when 'contact' %}{% include blocks/contact.html %}
    			{% when 'cards' %}{% include blocks/cards.html %}
    			{% when 'features' %}{% include blocks/features.html %}
    			{% when 'people' %}{% include blocks/people.html %}
    			{% when 'values' %}{% include blocks/values.html %}
    			{% else %}
    				Unknown type {{ block.layout }}
    		{% endcase %}
    	{% endfor %}

    	{% comment %}
    		{% include product_cards.html %}
		{% endcomment %}

    	{% include footer.html %}
    	{% include modals.html %}
    	{% include js.html %}
    </body>
</html>
